<main>
<div class="container public-recipes">
<h2>Public Recipes</h2>

<ul style="gap: 16px;" class="d-flex flex-column p-4 border border-3">
  <% @public_recipes.each do |recipe| %>
    <%= render "public_recipe", recipe: recipe %>
  <% end %>
</ul>
</div>