<main>
<div class="recipes container">
    <h1>Recipes</h1>
        <% @recipes.each do |recipe| %>
        <div class="recipe-card">
            <div class="left">
                <%= link_to recipe_path(recipe) do %>
        <h3><%= recipe.name %></h3>
      <% end %>
                <div class="delete-button">
                    <%= button_to "Remove", recipe, method: :delete, class: 'remove-recipe-link' %>
                </div>
            </div>
            <div class="right">
                <h4>Recipe Description</h4>
                <p><%= recipe.description %></p>
            </div>
        </div>
        <% end %>
    
    </div>
</main>