<h1>List of foods for current user</h1>

<div class="add-food-button">
    <button type="button" class="new-food-button"><%= link_to "add food" %></button>
</div>

<table class="foods_table">
<thead>
  <tr>
    <th class="column_title">Food</th>
    <th class="column_title">Measurement unit</th>
    <th class="column_title">Unit price</th>
    <th class="column_title">Actions</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="table_data">Apple</td>
    <td class="table_data">grams</td>
    <td class="table_data">$5</td>
    <td class="table_data">Delete</td>
  </tr>
  <tr>
    <td class="table_data">Pineapple</td>
    <td class="table_data">grams</td>
    <td class="table_data">$1</td>
    <td class="table_data">Delete</td>
  </tr>
</tbody>
</table>