<main>
<div class="food-index container">
<h1>List of foods for current user</h1>

<div class="add-food-button">
    <button type="button" class="new-food-button"><%= link_to "add food", new_food_path() %></button>
</div>

<table class="foods_table">
<thead>
  <tr>
    <th class="column_title">Food</th>
    <th class="column_title">Measurement unit</th>
    <th class="column_title">Unit price</th>
    <th class="column_title">Quantity</th>
    <th class="column_title">Actions</th>
  </tr>
</thead>
<% @foods.each do |food| %>
  <%= render food %>
<% end %>
</table>
</div>
</main>
